@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,200;1,300;1,400&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif; // replace this with font family
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
  font-family: "Prata", serif;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#105a4e),
    to(#ebb93b)
  );
  background: linear-gradient(#105a4e 0%, #ebb93b 100%);
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: white;
}
////home
.homesection {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  background-color: #105a4e;
  padding-top: 4em;
  overflow-x: hidden;
}
.homesection__left {
  width: 50%;
  margin: 0 auto;
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homesection__left__heading {
  color: #fff;
  font-size: 45px;
  font-family: "Prata", serif;
}
.homesection__left__heading span {
  color: #ebb93b;
  font-family: "Prata", serif;
}
.homesection__left__info {
  color: #fffbfb;
  font-family: "Montserrat", sans-serif;
  margin: 2em 0em;
}
.homesection__right {
  width: 50%;
  position: relative;
  justify-content: flex-end;
}
.homesection__right__img img {
  width: 100%;
  height: 700px;
}
.homesection__left__button {
  background-color: #ebb93b;
  color: #fff;
  padding: 0.9em 2em;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.homesection__left__button:hover {
  background-color: #fff;
  color: #ebb93b;
}
.homesection__right__button {
  color: #105a4e;
  padding: 0.9em 2em;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.homesection__right__button:hover {
  background-color: #ebb93b;
}
.homesection__right__button__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 555px;
  right: 155px;
}
.homesection__right__svg {
  background-color: #ebb93b;
  padding: 0.5em;
  cursor: pointer;
}
.homesection__right__svg svg * {
  fill: #fff;
}

.homesection__right__svg:hover * {
  fill: #105a4e;
}

////luxury
.most__luxury {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
  // margin: 10em 10em;
  padding-top: 8em;
  overflow-x: hidden;
}
.most__luxury__right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.most__luxury__left__img {
  width: 100%;
}
.most__luxury__right__content {
  max-width: 500px;
}
.most__luxury__left {
  width: 50%;
  align-items: center;
  justify-content: center;
}
.most__luxury__left img {
  width: 600px;
}
.most__luxury__right__main__heading span {
  color: #ebb93b;
  font-family: "Prata", serif;
}
.most__luxury__right__main__heading {
  font-family: "Prata", serif;
  font-size: 45px;
  color: #105a4e;
}

.most__luxury__right__info {
  font-family: "Montserrat", sans-serif;
  color: #105a4e;
  margin: 2em 0em;
}

.most__luxury__right__button {
  background-color: #ebb93b;
  color: #fff;
  padding: 0.9em 2em;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.most__luxury__right__button:hover {
  background-color: #105a4e;
}
.most__luxury__right__pics {
  display: flex;
}
.most__luxury__right__picture {
  padding-right: 2em;
  margin-top: 4em;
}
.ourbest {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
  overflow-x: hidden;
}

.our__best__luxury__card {
  display: flex;
  padding: 0.7em 0em;
  align-items: center;
  background-color: #f4f4f4;
  margin: 1em 0em;
  margin-right: 1em;
}
.ourbest__left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  margin: 0 auto;
}
.ourbest__right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.ourbest__right__img {
  width: 600px;
}
.our__best__luxury__card__card_main {
  max-height: 350px;
  overflow-y: scroll;
}
.our__best__luxury__card__card_main::-webkit-scrollbar {
  width: 5px;
}
.our__best__luxury__card__card_main::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ebb93b),
    to(#ebb93b)
  );
  background: linear-gradient(#ebb93b 0%, #ebb93b 100%);
  border-radius: 50px;
}
.our__best__luxury__card__card_main::-webkit-scrollbar-track {
  background-color: #ededed;
}
.ourbest__left__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: "Montserrat";
  color: #1f1f1f6b;
  margin: 1em 0em;
}
.our__best__luxury__card__right {
  width: 100%;
}
.our__best__luxury__card__right {
  flex-direction: column;
  padding: 0em 2em;
}
.our__best__luxury__card__right__para {
  color: #4d4c4c;
  font-family: "Montserrat";
  font-size: 14px;
  width: 80%;
}
.our__best__luxury__card__right__text {
  font-size: 20px;
  font-family: "El Messiri", prata;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
}
.ourbest__left__heading {
  font-size: 45px;
  font-family: "Prata", serif;
  color: #105a4e;
}
.ourbest__left__heading span {
  color: #ebb93b;
  font-family: "Prata", serif;
}
.ourproject {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
  overflow-x: hidden;
  margin-top: 3em;
}
.ourproject__left {
  width: 35%;
  display: flex;
  justify-content: center;
}
.ourproject__left__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-family: "Prata", serif;
  color: #105a4e;
}
.ourproject__left__heading span {
  color: #ebb93b;
  font-family: "Prata", serif;
}
.ourproject__right {
  width: 65%;
}
.most__luxury__right__image:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.swiper-pagination-bullet swiper-pagination-bullet-active {
  background-color: red !important;
  color: red !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #ededed !important;
  width: 50px !important;
  height: 50px !important;
  color: #ebb93b !important;
  padding: 1em !important;
  border-radius: 5px !important;
  margin-left: 2em !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  scale: 0.5;
}
.swiper-button-disabled {
  background-color: #1f4149 !important;
}
.swiper-pagination-bullet-active {
  background-color: #ebb93b !important;
  width: 20px !important;
  border-radius: 20px !important;
}
///location pointer
.locationpointer {
  width: 100%;
  display: flex;
  background-color: #105a4e;
  margin: 0 auto;
  max-width: 1920px;
  margin-top: 3em;
}
.locationpointer__left {
  width: 50%;
}
.locationpointer__left__img img {
  width: 100%;
}
.locationpointer__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.locationpointer__right__info {
  display: grid;
}
.locationpointer__right__heading {
  color: #fff;
  font-size: 45px;
  font-family: "Prata", serif;
  margin-bottom: 0.8em;
}
.locationpointer__right__heading span {
  color: #ebb93b;
  font-family: "Prata", serif;
}

.locationpointer__right__info a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0.7em 0em;
  font-size: 18px;
  text-decoration: none;
}
.locationpointer__right__info a span {
  color: #ebb93b;
  font-weight: bold;
}
.locationpointer__right__info a:hover {
  color: #ebb93b;
}
.locationfeatures {
  width: 100%;
  display: flex;

  margin: 0 auto;
  max-width: 1920px;
  margin-top: 3em;
}
.locationfeatures__left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
}
.locationfeatures__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.locationfeatures__right__img img {
  width: 650px;
}
.locationfeatures__left__heading {
  font-size: 45px;
  font-family: "Prata", serif;
  margin-bottom: 0.8em;
}
.locationfeatures__left__heading span {
  color: #105a4e;
  font-family: "Prata", serif;
}
.locationfeatures__left__info {
  color: #4d4c4c;
  font-family: "Montserrat", sans-serif;
  margin: 2em 0em;
}
.locationfeatures__left__points {
  display: grid;
}

.locationfeatures__left__points a {
  font-family: "Montserrat", sans-serif;
  margin: 0.7em 0em;
  font-size: 18px;
  text-decoration: none;
  color: #105a4e;
}
.locationfeatures__left__points a:hover {
  color: #ebb93b;
}

.spanpoint {
  color: #ebb93b;
  font-weight: bold;
  padding: 0.1em 0.6em;
  margin-right: 0.6em;
  border-radius: 50px;
  background-color: #ebb93b;
}
.aboutjseven {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  margin-top: 3em;
}
.aboutjseven__left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutjseven__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
}
.aboutjseven__left__img img {
  width: 650px;
}
.aboutjseven__right__heading {
  font-size: 45px;
  font-family: "Prata", serif;
  margin-bottom: 0.8em;
}
.aboutjseven__right__heading span {
  color: #105a4e;
  font-family: "Prata", serif;
}
.aboutjseven__right__info {
  color: #4d4c4c;
  font-family: "Montserrat", sans-serif;
  margin: 2em 0em;
}
.aboutjseven__right__button {
  background-color: #ebb93b;
  color: #fff;
  padding: 0.9em 2em;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.aboutjseven__right__button:hover {
  color: #fff;
  background-color: #105a4e;
}

.swiper-pagination-bullet swiper-pagination-bullet-active {
  background-color: red !important;
  color: red !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #ededed !important;
  width: 50px !important;
  height: 50px !important;
  color: #ebb93b !important;
  padding: 1em !important;
  border-radius: 5px !important;
  margin-left: 2em !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  scale: 0.5;
}
.swiper-button-disabled {
  background-color: #1f4149 !important;
}
.swiper-pagination-bullet-active {
  background-color: #ebb93b !important;
  width: 20px !important;
  border-radius: 20px !important;
}

.footer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  margin-top: 3em;
  background-color: #105a4e;
  padding: 3em 0em;
}

.footer__left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
}
.footer__left__info {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 2em 0em;
}
.footer__mid {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__mid__heading {
  font-size: 20px;
  font-family: "Prata", serif;
  margin-bottom: 0.8em;
  color: #ebb93b;
}
.footer__mid__links {
  display: grid;
}

.footer__mid__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footer__mid__links a:hover {
  color: #ebb93b;
}
.footer__mid__links a {
  font-family: "Montserrat", sans-serif;
  margin: 0.5em 0em;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
.footer__right input {
  width: 100%;
  padding: 1.1em 1em;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  border: none;
  margin-bottom: 1em;
  outline: none;
  border-radius: 30px;
  position: relative;
}
.footer__right__input {
  position: relative;
}
.footer__right__button {
  background-color: #ebb93b;
  color: #fff;
  padding: 0.8em 1.8em;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  right: 4px;
  top: 4px;
  border-radius: 30px;
}
@media (max-width: 1500px) {
  .homesection__right__button__svg {
    right: 130px;
  }
}
@media (max-width: 1350px) {
  .ourproject__swiper__img {
    width: 100%;
    max-height: 500px;
    max-width: 490px;
    margin: 0em 3em;
  }
  .most__luxury__right {
    margin: 2em;
  }
  .most__luxury__left__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .most__luxury__right__pics {
    display: flex;
    justify-content: center;
  }
  .most__luxury__left__image {
    width: 100%;
    max-height: 500px;
    max-width: 490px;
    margin: 0em 3em;
  }
  .most__luxury__right__picture__img {
    width: 100%;
    max-height: 200px;
    max-width: 300px;
  }
  .most__luxury__left__img {
    padding-left: 0em;
  }
  .most__luxury {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .most__luxury__left {
    width: 100%;
  }
  .most__luxury__right {
    width: 100%;
  }
  .most__luxury__right__para {
    width: 80%;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto;
  }
  .most__luxury__right__button {
    margin: 0 auto;
  }
  .most__luxury__right__main__heading {
    font-size: 45px;
    width: 90%;
    text-align: center;
    margin: 0 auto !important;
  }
}
@media (max-width: 1200px) {
  .footer {
    flex-direction: column;
  }
  .footer__left {
    width: 85%;
    text-align: center;
  }
  .footer__mid {
    width: 100%;
    padding-top: 2em;
  }
  .footer__mid__content {
    width: 40%;
  }
  .footer__right {
    width: 100%;
    padding-top: 4em;
  }
}
@media (max-width: 1150px) {
  .ourbest__right__img {
    width: 520px;
  }
  .locationfeatures__right__img img {
    width: 500px;
  }
  .aboutjseven__left__img img {
    width: 500px;
  }
}
@media (max-width: 1000px) {
  .ourbest {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ourbest__left {
    width: 100%;
    margin-bottom: 2em;
  }
  .ourbest__right {
    width: 100%;
  }
  .locationfeatures {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .locationfeatures__left {
    width: 100%;
    margin-bottom: 2em;
  }
  .locationfeatures__right {
    width: 100%;
  }
  .aboutjseven {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutjseven__left {
    width: 100%;
    margin-bottom: 2em;
  }
  .aboutjseven__right {
    width: 100%;
  }
  .ourproject {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ourproject__right {
    width: 100%;
  }
  .ourproject__left {
    width: 100%;
    margin-bottom: 2em;
  }
}
@media (max-width: 950px) {
  .homesection {
    flex-direction: column;
  }
  .homesection__left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homesection__right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .locationpointer {
    flex-direction: column;
  }
  .locationpointer__left {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .locationpointer__right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
  }
}
@media (max-width: 600px) {
  .homesection__right__img img {
    width: 100%;
    height: 580px;
  }
  .homesection__right__button__svg {
    top: 445px;
    right: 100px;
  }
  .ourbest__right__img {
    width: 460px;
  }
  .footer__mid__content {
    width: 55%;
  }
}
@media (max-width: 550px) {
  .homesection__left__heading {
    text-align: center;
    font-size: 30px;
  }
  .homesection__left__info {
    text-align: center;
  }
  .homesection__left__button {
    margin: 0em 2em;
    width: 80%;
  }
  .homesection__left___content {
    margin: 0em 0.6em;
  }
  .ourbest__left__heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1em;
  }
  .ourbest__left__text {
    text-align: center;
  }
  .locationpointer__right__heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1em;
  }
  .locationpointer__right {
    width: 85%;
  }
  .locationfeatures__left__heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1em;
  }
  .locationfeatures__left__info {
    text-align: center;
  }
  .aboutjseven__right__heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1em;
  }
  .aboutjseven__right__info {
    text-align: center;
  }
  .aboutjseven__right__button {
    margin: 0em 2em;
    width: 80%;
  }
  .aboutjseven__left__img img {
    width: 420px;
  }
  .locationfeatures__right__img img {
    width: 420px;
  }
  .locationfeatures__left__points {
    text-align: center;
    font-size: 16px;
  }
  .ourproject__left__heading {
    text-align: center;
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .ourbest__left__content {
    margin: 0em 1em;
  }
  .locationfeatures__left__content {
    margin: 0em 1em;
  }
  .locationfeatures__right__img img {
    width: 350px;
  }
  .aboutjseven__left__img img {
    width: 350px;
  }
  .aboutjseven__right__content {
    margin: 0em 1em;
  }
  .footer__mid__content {
    width: 70%;
  }
  .ourproject__swiper__img {
    width: 150px;
  }
}
@media (max-width: 450px) {
  .homesection__right__img img {
    height: 470px;
    margin: 0em 1em;
  }
  .homesection__right__button__svg {
    right: 43px;
    top: 360px;
  }
  .ourbest__right__img {
    width: 400px;
  }
}
@media (max-width: 420px) {
  .ourbest__right__img {
    width: 315px;
  }
  .our__best__luxury__card__left__img {
    width: 150px;
  }
  .our__best__luxury__card__right {
    padding: 0em 1em;
  }
  .our__best__luxury__card__right__para {
    width: 100%;
  }
  .locationpointer__right {
    margin: 0em 1em;
  }
  .locationpointer__right__info a {
    font-size: 16px;
  }
  .footer__mid__heading {
    font-size: 18px;
  }
  .footer__mid__links a {
    font-size: 16px;
  }
  .ourproject__swiper__img {
    width: 120px;
  }
}

////navbar
///
///
.oakland_section {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.oakland_section__weaper__backimg {
  width: 87%;

  max-height: 900px;
  border-top-right-radius: 120px;
}
.oakland_section__weaper__backimgs {
  width: 100%;
  height: 880px;
  background-color: #1f4149;
  border-top-right-radius: 120px;
}
.oakland_section__weaper__backimgs img {
  width: 100%;
  max-height: 400px;
}
.oakland_section__weaper {
  position: relative;
}
.oakland_section__weaper__overlay {
  position: absolute;
  top: 5%;
  left: 14%;
  width: 70%;
}
.navbar__style {
  padding: 1em;
  font-size: 20px;
  transition: all 0.4s ease-in-out;
}

.navbar__style::before {
  display: none;
  background-color: #b29c3f;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: calc(50% - 5px);
  bottom: 0;
  border-radius: 30px;
  transition: all 0.4s ease-in-out;
}
.navbar__style:hover::before {
  display: flex;
  transition: 4s all 0 ease-in-out;
}
.navbar__style:hover {
  .navbar__style {
    background-color: red;
    transition: all 0.4s ease-in-out;
  }
  color: #b29c3f;
}
.oakland_section__weaper__overlay__navbar__left__logo {
  cursor: pointer;
}
.oakland_section__weaper__overlay__navbar {
  display: flex;
  background-color: #105a4e;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}
.navbar__style {
  color: white;
  text-decoration: none;
  position: relative;
}
// .menu__btn {
//   display: none;
//   padding: 8px;
//   border-radius: 8px;
//   border: none;
// }
.oakland_section__weaper__overlay__main_heading__para {
  padding: 3em 0em;
  line-height: 25.6px;
  color: #fffbfb;
  width: 85%;
  align-items: center;
}
.oakland_section__weaper__overlay__two {
  display: flex;
  padding: 2em 0em;
}

.oakland_section__weaper__overlay__main_heading {
  font-size: 50px;
  width: 95%;
  color: white;
}
.oakland_section__weaper__overlay__main_heading__para {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.oakland_section__weaper__overlay__navbar__right {
  margin-right: 7em !important;
}
.headerback__secon {
  width: 50%;
}
.t {
  width: 40%;
}
.z {
  width: 82%;
}
.headerback__second {
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}
.headerback__second :hover {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.headerback__second__image {
  width: 100%;
}
.feature__content__card__svg2 {
  display: none;
}
.headerback__second {
  display: inline-block;
  text-align: center;
  width: 80%;
  position: absolute;
  bottom: 0%;
  right: -18%;
  top: 20%;
  max-width: 850px;

  transition: all 0.4s ease-in-out;
  border-radius: 30px;
}
figure {
  overflow: hidden;
  margin: 0 10px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.headerback__second img {
  height: 750px;
  cursor: pointer;
}
.about__section__secondentry__para {
  line-height: 24px;
  opacity: 0.8;
}

//150%
@media only screen and (min-width: 1100px) {
  .oakland_section__weaper__overlay {
    left: 5%;
  }
  .navbar__style {
    font-size: 14px;
  }

  .oakland_section__weaper__overlay__navbar__right {
    padding-right: 1em;
  }
  .oakland_section__weaper__backimgs {
    height: 580px;
  }
  .headerback__second img {
    height: 460px !important;
    cursor: pointer;
  }
  .headerback__second {
    display: inline-block;
    text-align: center;
    width: 80%;
    position: absolute;
    bottom: 0%;
    right: -30%;
    top: 20%;
    max-width: 540px;
  }
  .oakland_section__weaper__overlay__main_heading {
    font-size: 34px !important;
  }
  .oakland_section__weaper__overlay__navbar__right {
    margin-right: -6em !important;
  }
  .oakland_section__weaper__overlay__main_heading__para {
    padding: 1.3em 0em;
    line-height: 19px;
    width: 100%;
  }
  .oakland_section__weaper__overlay__entry {
    color: white;
    margin-top: 3em;
    width: 52%;
  }
}
