@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif; // replace this with font family
}
:root {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;
  // display: none;
}
body::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#105a4e),
    to(#ebb93b)
  );
  background: linear-gradient(#105a4e 0%, #ebb93b 100%);
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: white;
}
////home
.homesection__two {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 1920px;
  background-color: #105a4e;
  padding-top: 7em;
  // overflow-x: hidden;
}

.homesection__two__content {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}
.homesection__two__left {
  width: 50%;
  margin: 0 auto;
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homesection__two__left__heading {
  color: #fff;
  font-size: 57px;
  line-height: 66px;
  max-width: 580px;
  font-family: "El Messiri", sans-serif;
}
.homesection__two__left__heading span {
  color: #ebb93b;
  font-family: "El Messiri", sans-serif;
}
.homesection__two__left__info {
  color: #fffbfb;
  font-size: 18px;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  margin: 2em 0em;
}
.homesection__three__left__info {
  color: #fffbfb;
  font-size: 18px;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  margin: 0.5em 0em;
}
.homesection__three__left__info__heading {
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  margin: 1em 0em;
}
.homesection__three__left__info__heading__info {
  color: #fff;
  font-size: 14px;
  font-weight: 500;

  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  // margin: 1em 0em;
}
.homesection__three__left__info span {
  color: #ebb93b;
}
.homesection__two__right {
  width: 50%;
  position: relative;
  justify-content: center;
}
.homesection__two__right__img img {
  width: 670px;
  margin-bottom: 3em;
}
.homesection__two__left__button {
  background-color: #ebb93b;
  color: #fff;
  padding: 0.9em 2em;

  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.homesection__two__left__button:hover {
  background-color: #fff;
  color: #000000;
}
.homesection__two__right__button {
  color: #105a4e;
  padding: 0.9em 2em;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.homesection__two__right__button:hover {
  background-color: #ebb93b;
  color: #fff;
}
.homesection__two__right__button__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 540px;
  right: 180px;
}
.homesection__two__right__svg {
  background-color: #ebb93b;
  padding: 0.5em;
  cursor: pointer;
}
.homesection__two__right__svg svg * {
  fill: #fff;
}

.homesection__two__right__svg:hover * {
  fill: #105a4e;
}
.homesection {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 1920px;
  background-color: #105a4e;
  padding-top: 4em;

}
.homesection__content {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}
.homesection__left {
  width: 50%;
  margin: 0 auto;
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homesection__left__heading {
  color: #fff;
  font-size: 45px;
  line-height: 50px;
  max-width: 580px;
  font-family: "El Messiri", sans-serif;
}
.homesection__left__heading span {
  color: #ebb93b;
  font-family: "El Messiri", sans-serif;
}
.homesection__left__info {
  color: #fffbfb;
  font-size: 18px;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  margin: 1.5em 0em;
}
.homesection__right {
  width: 50%;
  position: relative;
  justify-content: flex-end;
}
.homesection__right__img img {
  width: 100%;
  height: 700px;
}
.homesection__left__button {
  background-color: #ebb93b;
  color: #fff;
  padding: 0.9em 2em;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.homesection__left__button:hover {
  background-color: #fff;
  color: #000000;
}
.homesection__right__button {
  color: #105a4e;
  padding: 0.9em 2em;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.homesection__right__button:hover {
  background-color: #ebb93b;
  color: #fff;
}
.homesection__right__button__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 540px;
  right: 180px;
}
.homesection__right__svg {
  background-color: #ebb93b;
  padding: 0.35em;
  cursor: pointer;
}
.homesection__right__svg svg * {
  fill: #fff;
}

.homesection__right__svg:hover * {
  fill: #105a4e;
}
.suitsfeaturesbed {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}
.suitsfeaturesbedimg img {
  width: 100%;
  margin-bottom: -3.5em;
  object-fit: cover;
}
.SignatureVilla {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 2em 0em;
}
.SignatureVilla img {
  width: 100%;
}
.Signaturevilla__imgchange {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 2em 0em;
}
.Signaturevilla__imgchange__content {
  width: 100%;
}
.Signaturevilla__imgchange__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Signaturevilla__imgchange__buttons__button {
  background-color: #e6e6e6;
  color: #000000;
  padding: 0.7em 4em;
  font-size: 16px;
  font-weight: bold;
  border: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.Signaturevilla__imgchange__buttons__button:nth-child(4n) {
  border-radius: 0px 10px 10px 0px;
}
.Signaturevilla__imgchange__buttons__button:first-child {
  border-radius: 10px 0px 0px 10px;
}
.Signaturevilla__imgchange__buttons__button:last-child {
  border-radius: 0px 10px 10px 0px;
}
.Signaturevilla__imgchange__buttons__button:hover {
  transition: 300ms ease-in-out;
  background-color: #f6f6f6;
  color: black;
}
.Signaturevilla__imgchange__buttons__button__active {
  transition: 300ms ease-in-out;
  background-color: #ebb93b;
  color: #fff;
}
.Signaturevilla__imgchange__buttons__button__active:hover {
  transition: 300ms ease-in-out;
  background-color: #ebb93b;
  color: #fff;
}
.Signaturevilla__imgchange__img img {
  padding-top: 3em;
  width: 100%;
  // height: 60%;
  object-fit: cover;
}
////luxury
.most__luxury {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
  // margin: 10em 10em;

  padding: 4em 0em;
}
.most__luxury__content {
  width: 100%;
  margin: 0 auto;
  max-width: 1360px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.most__luxury__right {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.most__luxury__right__content {
  max-width: 750px;
}
.most__luxury__left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.most__luxury__right__main__heading span {
  color: #105a4e;
  font-family: "El Messiri", sans-serif;
}
.most__luxury__right__main__heading {
  font-family: "El Messiri", sans-serif;
  font-size: 45px;
  line-height: 50px;
  color: #000000;
  max-width: 500px;
  margin-top: 1em;
}

.most__luxury__right__info {
  font-family: "Montserrat", sans-serif;
  color: #4d4c4d;
  margin: 2em 0em;
  font-size: 18px;
  line-height: 25px;
}

.most__luxury__right__button {
  background-color: #ebb93b;
  color: #fff;
  padding: 0.9em 2em;

  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.most__luxury__right__button:hover {
  background-color: #105a4e;
}
.most__luxury__right__pics {
  display: flex;
}
.most__luxury__right__picture {
  padding-right: 2em;
  margin-top: 4em;
}
.ourbest {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;

  padding-bottom: 5em;
  padding-top: 4em;
}
.ourbest__content {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  display: flex;
}

.our__best__luxury__card {
  display: flex;
  padding: 0.7em 0em;
  align-items: center;
  background-color: #f4f4f4;
  margin: 1em 0em;
  margin-right: 1em;
  cursor: pointer;
}
.our__best__luxury__card:hover {
  background-color: #105a4e;
  color: #fff;
}

.our__best__luxury__card:hover .our__best__luxury__card__right__text {
  font-size: 20px;
  font-family: "El Messiri", prata;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
}
.our__best__luxury__card:hover .our__best__luxury__card__right__para {
  color: #fff;
}
.ourbest__left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}
.ourbest__right {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
.ourbest__right__img {
  width: 650px;
}
.our__best__luxury__card__card_main {
  max-height: 350px;
  max-width: 600px;
  overflow-y: scroll;
}
.our__best__luxury__card__card_main::-webkit-scrollbar {
  width: 5px;
}
.our__best__luxury__card__card_main::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ebb93b),
    to(#ebb93b)
  );
  background: linear-gradient(#ebb93b 0%, #ebb93b 100%);
  border-radius: 50px;
}
.our__best__luxury__card__card_main::-webkit-scrollbar-track {
  background-color: #ededed;
}
.ourbest__left__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: "Montserrat";
  color: #1f1f1f6b;
  margin: 1em 0em;
}
.our__best__luxury__card__right {
  width: 100%;
}
.our__best__luxury__card__right {
  flex-direction: column;
  padding: 0em 2em;
}
.our__best__luxury__card__right__para {
  color: #4d4c4c;
  font-family: "Montserrat";
  font-size: 14px;
  width: 80%;
}
.our__best__luxury__card__right__text {
  font-size: 20px;
  font-family: "El Messiri", prata;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
}
.ourbest__left__heading {
  font-size: 45px;
  font-family: "El Messiri", sans-serif;
  color: #000000;
  max-width: 450px;
}
.ourbest__left__heading span {
  color: #105a4e;
  font-family: "El Messiri", sans-serif;
}
.ourproject {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
  overflow-x: hidden;
  margin-top: 5em;
  margin-bottom: 6em;
}
.ourproject__content {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;

  display: flex;
}
.ourproject__left {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.ourproject__left__heading {
  font-size: 45px;
  font-family: "El Messiri", sans-serif;
  color: #105a4e;
}
.ourproject__left__heading span {
  color: #000000;
  font-family: "El Messiri", sans-serif;
}
.ourproject__right {
  width: 65%;
  cursor: pointer;
}
.most__luxury__right__image {
  width: 250px;
}
.most__luxury__right__image:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.swiper-pagination-bullet swiper-pagination-bullet-active {
  background-color: red !important;
  color: red !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  scale: 0.5;
}
.swiper-button-disabled {
  background-color: #1f4149 !important;
}
.swiper-pagination-bullet-active {
  background-color: #ebb93b !important;
  width: 20px !important;
  border-radius: 20px !important;
}
///location pointer
.locationpointer {
  width: 100%;
  display: flex;
  background-color: #105a4e;
  margin: 0 auto;
  max-width: 1920px;
  margin-top: 3em;
  padding: 5em 0em;
}
.locationpointer__left {
  width: 60%;
  cursor: pointer;
}
.locationpointer__left__img img {
  width: 100%;
}
.locationpointer__right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}
.locationpointer__right__info {
  display: grid;
}

.locationpointer__right__heading {
  color: #fff;
  font-size: 45px;
  font-family: "El Messiri", sans-serif;
  margin-bottom: 0.8em;
}
.locationpointer__right__heading span {
  color: #ebb93b;
  font-family: "El Messiri", sans-serif;
}

.locationpointer__right__info__tag {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0.7em 0em;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}
.locationpointer__right__info__tag span {
  color: #ebb93b;
  font-weight: bold;
}
.locationpointer__right__info__tag:hover {
  color: #ebb93b;
}
.locationfeatures {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  margin-top: 5em;
}
.locationfeatures__content {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1360px;
}
.locationfeatures__left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}
.locationfeatures__left__button {
  margin-left: 1em;
}
.locationfeatures__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.locationfeatures__right__img img {
  width: 750px;
}
.locationfeatures__left__heading {
  font-size: 45px;
  font-family: "El Messiri", sans-serif;
  margin-bottom: 0.8em;
}
.locationfeatures__left__heading span {
  color: #105a4e;
  font-family: "El Messiri", sans-serif;
}
.locationfeatures__left__info {
  color: #4d4c4c;
  font-family: "Montserrat", sans-serif;
  margin: 2em 0em;
  line-height: 25px;
}
.locationfeatures__left__points {
  display: grid;
  margin-bottom: 2em;
}

.locationfeatures__left__points__tags {
  font-family: "Montserrat", sans-serif;
  margin: 0.7em 0em;
  font-size: 18px;
  text-decoration: none;

  color: #000000;
  font-weight: 600;
}
.locationfeatures__left__points__tags:hover {
  color: #ebb93b;
}
.locationfeatures__left button {
  background-color: #ebb93b;
  color: #fff;
  padding: 0.9em 2em;

  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.locationfeatures__left button:hover {
  background-color: #105a4e;
  color: #fff;
}
.spanpoint {
  font-weight: bold;
  padding: 1px 10px;
  border-radius: 100px;
  color: #ebb93b;
  line-height: 0px;
  font-size: 70px;
}
.aboutjseven {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  margin-top: 6em;
  margin-bottom: 7em;
}
.aboutjseven__content {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1360px;
}
.aboutjseven__left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutjseven__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}
.aboutjseven__left__img img {
  width: 700px;
}
.aboutjseven__right__heading {
  font-size: 45px;
  font-family: "El Messiri", sans-serif;
  margin-bottom: 0.8em;
  color: #105a4e;
}
.aboutjseven__right__heading span {
  color: #000000;
  font-family: "El Messiri", sans-serif;
}
.aboutjseven__right__info {
  color: #4d4c4c;
  font-family: "Montserrat", sans-serif;
  margin: 2em 0em;
  max-width: 600px;
  line-height: 25px;
}
.aboutjseven__right__button {
  background-color: #ebb93b;
  color: #fff;
  padding: 0.9em 2em;

  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.aboutjseven__right__button:hover {
  color: #fff;
  background-color: #105a4e;
}

.swiper-pagination-bullet swiper-pagination-bullet-active {
  background-color: red !important;
  color: red !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #ededed !important;
  width: 50px !important;
  height: 50px !important;
  color: #ebb93b !important;
  padding: 1em !important;
  border-radius: 5px !important;
  margin-left: 2em !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  scale: 0.5;
}
.swiper-button-disabled {
  background-color: #1f4149 !important;
}
.swiper-pagination-bullet-active {
  background-color: #ebb93b !important;
  width: 20px !important;
  border-radius: 20px !important;
}

.footer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  margin-top: 3em;
  background-color: #105a4e;
  padding: 3em 0em;
}
.footer__content {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1600px;
}
.footer__left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
}
.footer__left__info {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  // margin: 2em 0em;
  font-size: 18px;
  line-height: 25px;
}
.footer__mid {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__mid__heading {
  font-size: 20px;
  font-family: "El Messiri", sans-serif;
  margin-bottom: 0.8em;
  color: #ebb93b;
}
.footer__mid__links {
  display: grid;
}

.footer__mid__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footer__mid__links a:hover {
  color: #ebb93b;
}
.footer__mid__links a {
  font-family: "Montserrat", sans-serif;
  margin: 0.5em 0em;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
.footer__right__img {
  margin: 0 auto;
  display: flex;
}
.footer__right input {
  width: 100%;
  padding: 1.1em 2em;
  padding-right: 6em;
  font-family: "Montserrat", sans-serif;
  border: none;
  margin-bottom: 1em;
  outline: none;
  border-radius: 30px;
  position: relative;
}
.footer__right__input {
  position: relative;
}
.footer__right__button {
  background-color: #ebb93b;
  color: #fff;
  padding: 0.8em 1.8em;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  right: 4px;
  top: 4px;
  border-radius: 30px;
}
.footer__right__button:hover {
  background-color: #105a4e;
  color: #fff;
}
.footer__bottom {
  width: 100%;
  background-color: #105a4e;

  max-width: 1920px;
  margin: 0 auto;
}
.footer__bottom__content__all {
  margin: 0 auto;
  max-width: 1650px;
}

.footer__bottom__content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1700px;
  margin: 0 auto;
  padding: 1em 0em;
}
.footer__bottom__all__links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__bottom__link {
  margin: 0em 1em;
}
.footer___bottom__hr {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2px;
  width: 85% !important;
  width: 1200px;
  margin: 0 auto;
  background-color: #c4c4c4;
}
.footer__bottom__heading {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-left: -3em;
}
.swiper-slide {
  width: 380px !important;
} //// page  linkkk
.nextpagelink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
}

.nextpagelink__imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.Overlay__Cards {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1920px;
  margin-top: 5em;
}
.Overlay__Card__con {
  width: 50%;

  position: relative;
}
// .Overlay__Card__con:hover .overlay__heading {
//   color: #ebb93b;
// }
.Overlay__Card__img {
  position: relative;
  z-index: -999;
}
.Overlay__Card__img img {
  width: 100%;
}
.overlay__img {
  background: linear-gradient(
    360deg,
    #cec3c38f 0%,
    rgba(241, 245, 247, 0.801) 50%
  );
  z-index: 9999;
  cursor: pointer;
  height: 99%;
}
.overlay__img:hover {
  background: linear-gradient(180deg, #105a4e 0%, rgba(16, 90, 78, 0) 100%);
  z-index: 9999;
  cursor: pointer;
}

.overlay__heading {
  font-size: 30px;
  // color: ;
  font-weight: bold;
  font-family: "El Messiri", sans-serif;
  position: absolute;
  top: 50%;
  left: 35%;
}
.overlay__heading:hover {
  color: #ebb93b;
}
.Overlay__Card__con:hover .overlay__heading {
  color: #ebb93b;
}
.locationpointer__swipe__img,
.ourproject__swiper__img {
  margin-bottom: 3em;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}
.formsection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  // max-width: 1920px;
  // margin-top: 4em;
  position: absolute;
  top: 35px;
  left: 0;
}
.formsection__heading span {
  color: #ebb93b;
}
.formsection__heading {
  font-size: 30px;
  height: 50px;
  font-family: "El Messiri", sans-serif;
  color: #105a4e;
  margin-bottom: 1em;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.formsection__info {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin-bottom: 1em;
  max-width: 600px;
}
.formsection__info__two {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #105a4e;
  margin-bottom: 1em;
  max-width: 600px;
  text-align: center;
}
.popup {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;
}
.formsection__content {
  position: relative;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 9999;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  border: none;
  font-family: "Montserrat", sans-serif;

  outline: none;
  background-color: #ebb93b;
  // padding: 5px;
  border-radius: 100px;
}

.popup__overlay {
  position: fixed;
  // background: rgba(16, 90, 78, 0.9);
  // background-color: rgba(161, 161, 161, 0.1);
  width: 100%;
  height: 600px;
  // background-color: rgb(199, 173, 173);
  // top: 0;
  z-index: 9999;
  // left: 0;
}
.formsection__content {
  width: 100%;
  background-color: #fff;
  padding: 3em;
  padding-top: 3em;
  max-width: 900px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.formsection__content::-webkit-scrollbar {
  width: 5px;

  // display: none;
}
.formsection__content::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#105a4e),
    to(#ebb93b)
  );
  background: linear-gradient(#105a4e 0%, #ebb93b 100%);
  border-radius: 50px;
}
.formsection__content::-webkit-scrollbar-track {
  background-color: white;
}
.formsection__content__all__input {
  display: flex;
}
.formsection__content__all__msg {
  display: flex;
}
.formsection__content__input {
  width: 100%;
  margin: 0 1em;
  display: grid;
}
.formsection__content__input input {
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  display: flex;

  font-size: 16px;
  height: 50px;
  margin-bottom: 1em;
  outline: none;
  padding: 0 1em;
  transition: 0.2s;
  width: 100%;
}
.formsection__content__input input:focus {
  outline: none;
  border: #ebb93b 1px solid;
}
.formsection__content__msg {
  width: 100%;
  margin: 0 1em;
  display: grid;
}
.formsection__content__msg textarea {
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  display: flex;
  margin-bottom: 1em;
  font-size: 17px;
  outline: none;
  padding: 8px 10px;
  resize: none;
  width: 100%;
}
.formsection__content__msg textarea:focus {
  outline: none;
  border: #ebb93b 1px solid;
}
.formsection__content__all__button {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formsection__content__all__button button {
  align-items: center;
  background-color: #105a4e;
  color: #fff;
  border: none;

  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 50px;
  justify-content: center;
  letter-spacing: 1px;
  outline: none;
  padding: 0 2em;
  text-transform: uppercase;
  width: 350px;
}
.formsection__content__all__button button:hover {
  background-color: #ebb93b;
}
.formsection__content__input label {
  font-size: 16px;
  font-weight: bold;
  color: #105a4e;
}
.formsection__content__msg label {
  font-size: 16px;
  font-weight: bold;
  color: #105a4e;
}
.formsection__content__all__button button:hover {
  background-color: #ebb93b;
}
@media (max-width: 1500px) {
  .homesection__right__button__svg {
    right: 130px;
  }
  .aboutjseven__left__img img {
    width: 600px;
  }
  .locationfeatures__right__img img {
    width: 600px;
  }
}
@media (max-width: 1450px) {
  .most__luxury__right {
    margin: 2em;
  }
  .homesection__left,
  .homesection__two__left,
  .most__luxury__left,
  .ourbest__left,
  .aboutjseven__left,
  .most__luxury__left,
  .locationfeatures__left {
    margin-left: 2em;
  }

  .homesection__left__heading,
  .homesection__two__left__heading,
  .most__luxury__right__main__heading,
  .ourbest__left__heading,
  .locationpointer__right__heading,
  .locationfeatures__left__heading,
  .aboutjseven__right__heading,
  .ourproject__left__heading {
    font-size: 35px;
  }
  .homesection__two__right__img img {
    width: 620px;
  }
}

@media (max-wsidth: 1350px) {
  .ourproject__swiper__img {
    width: 100%;
    max-height: 500px;
    max-width: 490px;
    margin: 0em 3em;
  }

  .most__luxury__right {
    margin: 2em;
    justify-content: center;
  }

  .most__luxury__left__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mostluxryimg {
    width: 80%;
  }
  .most__luxury__right__pics {
    display: flex;
    justify-content: center;
  }
  .most__luxury__left__image {
    width: 100%;
    max-height: 500px;
    max-width: 490px;
    margin: 0em 3em;
  }
  .most__luxury__right__picture__img {
    width: 100%;
    max-height: 200px;
    max-width: 300px;
  }
  .most__luxury__left__img {
    padding-left: 0em;
  }
  .most__luxury {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .most__luxury__left {
    width: 100%;
  }
  .most__luxury__right {
    width: 100%;
  }
  .most__luxury__right__para {
    width: 80%;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto;
    text-align: center;
  }
  .most__luxury__right__button {
    margin: 0 auto;
  }
  .most__luxury__right__main__heading {
    font-size: 45px;
    width: 90%;
    text-align: center;
    margin: 0 auto !important;
  }
  .homesection__two__right__img img {
    width: 600px !important;
  }
}
@media (max-width: 1280px) {
  .homesection__two__right__img img {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .footer__content {
    flex-direction: column;
  }
  .footer__left {
    width: 85%;
    text-align: center;
  }
  .footer__mid {
    width: 100%;
    padding-top: 2em;
  }
  .footer__mid__content {
    width: 40%;
  }
  .footer__right {
    width: 100%;
    padding-top: 4em;
  }
}
@media (max-width: 1150px) {
  .ourbest__right__img {
    width: 520px;
  }
  .locationfeatures__right__img img {
    width: 500px;
  }
  .aboutjseven__left__img img {
    width: 500px;
  }
}
@media (max-width: 1000px) {
  .ourbest {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .most__luxury__left,
  .most__luxury__right {
    justify-content: center;
  }
  .most__luxury__right__main__heading {
    margin: 0 auto;
  }
  .ourbest__left {
    width: 100%;
    margin-bottom: 2em;
  }
  .ourbest__right {
    width: 100%;
    justify-content: center;
  }
  .locationfeatures {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .locationfeatures__left {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2em;
  }
  .locationfeatures__right {
    width: 100%;
    justify-content: center;
  }
  .aboutjseven {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutjseven__left {
    width: 100%;
    margin-bottom: 2em;
  }
  .aboutjseven__right {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .ourproject {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ourproject__right {
    width: 100%;
  }
  .ourproject__left {
    width: 100%;
    margin-bottom: 2em;
  }
  .Overlay__Cards {
    flex-direction: column;

    align-items: center;
  }
  .Overlay__Card__con {
    width: 90% !important;
    margin-bottom: 2em;
  }
  .homesection__content {
    flex-direction: column;
  }
  .homesection__left {
    width: 100%;

    margin: 0 auto;
    margin-bottom: 2em;
    padding-top: 4em;
  }
  .homesection__right {
    width: 100%;
    margin: 0 auto;
  }
  .homesection__two__content {
    flex-direction: column;
  }
  .homesection__two__left {
    width: 100%;

    margin: 0 auto;
    margin-bottom: 2em;
    padding-top: 4em;
  }
  .homesection__two__right {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
  }
  .most__luxury__content,
  .ourbest__content,
  .locationpointer,
  .locationfeatures__content,
  .aboutjseven__content,
  .ourproject__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .most__luxury__right__main__heading {
    text-align: center;
  }
  .most__luxury__left,
  .ourbest__left,
  .ourbest__right,
  .aboutjseven__left {
    width: 100%;
    margin-bottom: 2em;
    margin-left: 0em;
  }
  .most__luxury__right {
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .most__luxury {
    padding: 2em 0em;
  }
}
@media (max-width: 950px) {
  .homesection {
    flex-direction: column;
  }
  .homesection__left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homesection__right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homesection__two {
    flex-direction: column;
  }
  .homesection__two__left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homesection__two__right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formsection__content {
    width: 85%;
    padding: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .locationpointer {
    flex-direction: column;
  }
  .locationpointer__left {
    width: 100%;
  }
  .locationpointer__right {
    width: 100%;
    padding: 3em 0em;
  }
  .locationpointer__swipe__img {
    width: 250px !important;
  }
  .swiper__all {
    width: 100%;
  }
  .most__luxury__right__main__heading {
    font-size: 40px;
  }
  .most__luxury__right__info {
    text-align: center;
    line-height: 25px;
  }
  .formsection__heading {
    font-size: 18px;
    text-align: center;
    height: 28px;
  }
  .formsection__info,
  .formsection__info__two {
    text-align: center;
    font-size: 13px;
    margin-bottom: 0.5em;
  }
  .most__luxury__right__button {
    width: 100%;
  }
}
@media (max-width: 850px) {
   .most__luxury__right__content {
  max-width: 550px;
}

}
@media (max-width: 670px) {
 
  .most__luxury__right__main__heading {
    font-size: 30px;
  }
}
@media (max-width: 650px) {
  .locationfeatures__left {
    width: 85%;
  }
  .aboutjseven__right {
    width: 85%;
  }
  .most__luxury__right__info {
    width: 85%;
    margin: 0 auto;
    padding: 2em 0em;
    line-height: 25px;
  }
  .Signaturevilla__imgchange__buttons__button {
    padding: 0.5em 1.5em;
  }
  .formsection__content__input input,
  .formsection__content__msg {
    margin-bottom: 1em;
  }
  .formsection__content__all__button button {
    margin-top: 0.5em;
    width: 250px;
  }

  .formsection__content__msg textarea {
    margin-bottom: 0em;
  }
  .formsection__content__all__button {
    padding: 0em;
  }
  .formsection__content {
    width: 100%;
    max-height: 100vh;
    overflow: auto;
  }
  .formsection {
    top: 0;
  }
  .popup__close {
    top: 6px;
    right: 6px;
  }
}
@media (max-width: 600px) {
  .homesection__two__right__button__svg {
    top: 445px;
    right: 100px;
  }
  .homesection__right__img img {
    width: 100%;
    height: 580px;
  }
  .homesection__right__button__svg {
    top: 445px;
    right: 100px;
  }
  .ourbest__right__img {
    width: 460px;
  }
  .footer__mid__content {
    width: 55%;
  }
  .footer__bottom__content {
    flex-direction: column;
  }
  .footer__bottom__heading {
    margin-bottom: 2em;
    margin-left: 0;
  }
  .footer__right input {
    padding: 1.1em 2em;
  }
  .overlay__heading {
    font-size: 28px;
    left: 25%;
  }
}
@media (max-width: 550px) {
  .most__luxury__right {
    margin: 0em;
  }
  .homesection__left__heading,
  .homesection__two__left__heading,
  .most__luxury__right__main__heading {
    text-align: center;
    font-size: 22px;
    line-height: 35px;
  }
  .homesection__left__info,
  .homesection__two__left__info,
  .homesection__three__left__info,
  .homesection__three__left__info__heading {
    text-align: center;
    font-size: 16px;
    margin: 1em 0em;
    line-height: 25px;
  }
  .homesection__three__left__info__heading__info {
    text-align: center;
  }
  .homesection__left__button,
  .homesection__two__left__button {
    margin: 0em 2em;
    width: 80%;
  }
  .homesection__left___content,
  .homesection__two__left___content {
    margin: 0em 0.6em;
  }
  .ourbest__left__heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1em;
  }
  .ourbest__left__text {
    text-align: center;
  }
  .locationpointer__right__heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1em;
  }
  .locationpointer__right {
    width: 85%;
  }
  .locationfeatures__left__heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1em;
  }
  .locationfeatures__left__info {
    text-align: center;
    line-height: 25px;
  }
  .aboutjseven__right__heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1em;
  }
  .aboutjseven__right__info {
    text-align: center;
    line-height: 25px;
  }
  .aboutjseven__right__button {
    margin: 0em 2em;
    width: 80%;
  }
  .most__luxury__right__button {
    margin: 0em 2em;
    width: 88%;
  }
  .aboutjseven__left__img img {
    width: 420px;
  }
  .locationfeatures__right__img img {
    width: 420px;
  }
  .locationfeatures__left__points {
    text-align: start;
    font-size: 16px;
    margin-left: 1em;
  }
  .ourproject__left__heading {
    text-align: center;
    font-size: 30px;
  }
  .locationfeatures__left button {
    margin: 0em 2em;
    width: 80%;
  }
  .homesection__two__right__img img {
    width: 380px;
  }
}
@media (max-width: 500px) {
  .ourbest__left__content {
    margin: 0em 1em;
  }
  .locationfeatures__left__content {
    margin: 0em 1em;
  }
  .locationfeatures__right__img img {
    width: 350px;
  }
  .aboutjseven__left__img img,
  .ourbest__right__img img {
    width: 350px;
  }
  .most__luxury__left img {
    width: 350px;
    height: auto;
  }
  .aboutjseven__right__content {
    margin: 0em 1em;
  }
  .footer__mid__heading {
    font-size: 20px;
    font-weight: bold;
  }
  .footer__mid__content {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .footer__mid__links {
    margin-bottom: 2em;
  }
  .ourproject__swiper__img {
    width: 240px;
  }
  .locationfeatures__left {
    width: 100%;
  }
  .aboutjseven__right {
    width: 100%;
  }
  .most__luxury__right__para {
    width: 90%;
  }
  .most__luxury__left__image {
    width: 90%;
    max-height: 400px;
    max-width: 350px;
    margin: 0em 3em;
  }
  .most__luxury__right__picture__img {
    width: 100%;
    max-height: 300px;
    max-width: 350px;
  }
  .most__luxury__right__pics {
    flex-direction: column;
    margin: 0em 1em;
    align-items: center;
    width: 100%;
  }
  .swiper-slide {
    width: 300px !important;
  }
  .overlay__heading {
    left: 23% !important;
  }
  .homesection__right__img img {
    height: 350px;
    margin: 0em 1em;
  }
  .homesection__two__right__img img {
    width: 350px;
    margin: 0em 1em;
  }
  .homesection__right__button__svg {
    top: 260px;
    right: 76px;
  }
  .homesection__right__img {
    margin-right: -2em;
  }
  // .homesection__two__right__img {
  //   margin-right: -2em;
  // }
  .homesection__two__left__heading,
  .homesection__two__left__info,
  .homesection__three__left__info,
  .homesection__three__left__info__heading,
  .homesection__left__heading,
  .homesection__left__info,
  .most__luxury__right__main__heading,
  .most__luxury__right__info {
    max-width: 350px;
    margin: 0 auto;
    padding-bottom: 1em;
  }
  .ourbest {
    padding-bottom: 0em;
  }
  .footer__right {
    padding-top: 0em;
  }
  .locationpointer {
    padding: 3em 0em;
  }
  .most__luxury__right__info {
    padding: 0em 0em;
    padding-bottom: 1em;
    font-size: 16px;
    line-height: 25px;
  }
  .most__luxury__right {
    justify-content: center;
  }
  .homesection__two__left__button {
    margin-top: 1em;
  }
  .homesection__two__left {
    padding-top: 1em;
  }
  .homesection__left__button {
    margin-top: 1em;
  }
  .homesection__left {
    padding-top: 1em;
  }
}
@media (max-width: 450px) {
  .homesection__right__button__svg {
    right: 60px;
    top: 250px;
  }
  .homesection__two__right__button__svg {
    right: 60px;
    top: 250px;
  }
  .ourbest__right__img {
    width: 400px;
  }
}
@media (max-width: 420px) {
  .ourbest__right__img {
    width: 315px;
  }
  .our__best__luxury__card__left__img {
    width: 120px;
  }
  .our__best__luxury__card__right__text {
    font-size: 16px;
  }
  .our__best__luxury__card:hover .our__best__luxury__card__right__text {
    font-size: 16px;
    font-family: "El Messiri", prata;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
  }
  .our__best__luxury__card__right__para {
    font-size: 10px;
  }
  .our__best__luxury__card__right {
    padding: 0em 1em;
  }
  .our__best__luxury__card__right__para {
    width: 100%;
  }
  .locationfeatures__right__img img {
    width: 300px;
  }
  .aboutjseven__left__img img {
    width: 300px;
  }
  .locationpointer__right {
    margin: 0em 1em;
  }
  .locationpointer__right__info__tag {
    font-size: 16px;
    line-height: 25px;
  }
  .footer__mid__heading {
    font-size: 18px;
  }
  .footer__mid__links a {
    font-size: 16px;
  }

  .most__luxury__left img {
    width: 300px;
  }
  .homesection__two__right__img img {
    width: 320px;
  }
}
@media (max-width: 380px) {
  .overlay__heading {
    left: 25% !important;
    font-size: 22px;
  }
}

////navbar
///
///
// .oakland_section {
//   width: 100%;
//   max-width: 1920px;
//   margin: 0 auto;
// }
// .oakland_section__weaper__backimg {
//   width: 87%;

//   max-height: 900px;
//   border-top-right-radius: 120px;
// }
// .oakland_section__weaper__backimgs {
//   width: 100%;
//   height: 880px;
//   background-color: #1f4149;
//   border-top-right-radius: 120px;
// }
// .oakland_section__weaper__backimgs img {
//   width: 100%;
//   max-height: 400px;
// }
// .oakland_section__weaper {
//   position: relative;
// }
// .oakland_section__weaper__overlay {
//   position: absolute;
//   top: 5%;
//   left: 14%;
//   width: 70%;
// }
// .navbar__style {
//   padding: 1em;
//   font-size: 20px;
//   transition: all 0.4s ease-in-out;
// }

// .navbar__style::before {
//   display: none;
//   background-color: #b29c3f;
//   content: "";
//   width: 10px;
//   height: 10px;
//   position: absolute;
//   left: calc(50% - 5px);
//   bottom: 0;
//   border-radius: 30px;
//   transition: all 0.4s ease-in-out;
// }
// .navbar__style:hover::before {
//   display: flex;
//   transition: 4s all 0 ease-in-out;
// }
// .navbar__style:hover {
//   .navbar__style {
//     background-color: red;
//     transition: all 0.4s ease-in-out;
//   }
//   color: #b29c3f;
// }
// .oakland_section__weaper__overlay__navbar__left__logo {
//   cursor: pointer;
// }
// .oakland_section__weaper__overlay__navbar {
//   display: flex;
//   background-color: #105a4e;
//   width: 100%;
//   align-items: center;
//   justify-content: space-between;
//   padding: 1em 2em;
// }
// .navbar__style {
//   color: white;
//   text-decoration: none;
//   position: relative;
// }
// // .menu__btn {
// //   display: none;
// //   padding: 8px;
// //   border-radius: 8px;
// //   border: none;
// // }
// .oakland_section__weaper__overlay__main_heading__para {
//   padding: 3em 0em;
//   line-height: 25.6px;
//   color: #fffbfb;
//   width: 85%;
//   align-items: center;
// }
// .oakland_section__weaper__overlay__two {
//   display: flex;
//   padding: 2em 0em;
// }

// .oakland_section__weaper__overlay__main_heading {
//   font-size: 50px;
//   width: 95%;
//   color: white;
// }
// .oakland_section__weaper__overlay__main_heading__para {
//   font-size: 15px;
//   font-family: "Montserrat", sans-serif;
// }
// .oakland_section__weaper__overlay__navbar__right {
//   margin-right: 7em !important;
// }
// .headerback__secon {
//   width: 50%;
// }
// .t {
//   width: 40%;
// }
// .z {
//   width: 82%;
// }
// .headerback__second {
//   border-top-left-radius: 70px;
//   border-top-right-radius: 70px;
// }
// .headerback__second :hover {
//   border-top-left-radius: 100px;
//   border-top-right-radius: 100px;
// }
// .headerback__second__image {
//   width: 100%;
// }
// .feature__content__card__svg2 {
//   display: none;
// }
// .headerback__second {
//   display: inline-block;
//   text-align: center;
//   width: 80%;
//   position: absolute;
//   bottom: 0%;
//   right: -18%;
//   top: 20%;
//   max-width: 850px;

//   transition: all 0.4s ease-in-out;
//   border-radius: 30px;
// }
// figure {
//   overflow: hidden;
//   margin: 0 10px;
//   border-top-left-radius: 100px;
//   border-top-right-radius: 100px;
// }

// .headerback__second img {
//   height: 700px;
//   cursor: pointer;
// }
// .about__section__secondentry__para {
//   line-height: 24px;
//   opacity: 0.8;
// }

// //150%
// @media only screen and (min-width: 1100px) {
//   .oakland_section__weaper__overlay {
//     left: 5%;
//   }
//   .navbar__style {
//     font-size: 14px;
//   }

//   .oakland_section__weaper__overlay__navbar__right {
//     padding-right: 1em;
//   }
//   .oakland_section__weaper__backimgs {
//     height: 580px;
//   }
//   .headerback__second img {
//     height: 460px !important;
//     cursor: pointer;
//   }
//   .headerback__second {
//     display: inline-block;
//     text-align: center;
//     width: 80%;
//     position: absolute;
//     bottom: 0%;
//     right: -30%;
//     top: 20%;
//     max-width: 540px;
//   }
//   .oakland_section__weaper__overlay__main_heading {
//     font-size: 34px !important;
//   }
//   .oakland_section__weaper__overlay__navbar__right {
//     margin-right: -6em !important;
//   }
//   .oakland_section__weaper__overlay__main_heading__para {
//     padding: 1.3em 0em;
//     line-height: 19px;
//     width: 100%;
//   }
//   .oakland_section__weaper__overlay__entry {
//     color: white;
//     margin-top: 3em;
//     width: 52%;
//   }
// }
